<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 视图解析器->  prefix + login + suffix = /WEB-INF/views/login.jsp -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	
		<!-- 重定向时是否添加上下文路径 -->
		<property name="redirectContextRelative" value="true"></property>
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 扫描所有控制器 -->
	<context:component-scan base-package="com.ma.vip.controller"></context:component-scan>
	
	<!-- 配置adopter拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 不设置或者/**为拦截全部 -->
			<mvc:mapping path="/**"/>
			<!-- 不拦截的内容 -->
			<mvc:exclude-mapping path="/login.do"/>
			<bean class="com.ma.vip.adapter.LoginAdapter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
